*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* GENERAL STYLES */
html {
    font-size: var(--FS);
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font: inherit;
}

body {
    background-color: var(--BG-COLOR);
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: calc(1rem + 0.5vw);
    font-weight: normal;
    max-width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: var(--HEADINGs);
    color: var(--FONT-COLOR);
    
}

h2,
h3 {
    font-family: var(--HEADINGs);
    margin-bottom: 0.2em;
    color: var(--FONT-COLOR);
}
img {
    display: block;
    max-width: 100%;
    height: auto;

}
p {
    font-size: 0.5em;
    line-height: 1.5;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}