/* NAV */
.nav {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 2em;
}

/* HEADER */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: var(--MARGIN);
    height: 80vh;
}

.card__title {
    font-size: 0.8em;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.projets__card {
    height: 50%;
    width: 30%;
}


.projets__container {
    padding: var(--PADDING);
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contact {
    padding: var(--PADDING);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}




.competences__container {
    display: flex;
    height: 90%;
    justify-content: space-evenly;

}

/* FOOTER */
footer {
    text-align: center;
}

/* FORM */
.form__container {
    display: flex;

    justify-content: space-between;
    margin: 0.8em 0;
}


.form {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.form__textarea {
    height: 300px;
    width: 60%;
    margin: 1em;
    background-color: var(--BG-COLOR);
    border-radius: 10%;
    border: var(--BORDERS)
}

/* BUTTON */
.button {
    width: 50%;
    margin: 0 auto;
}

.form__input {
    border: var(--BORDERS);
    background-color: var(--BG-COLOR);
    border-radius: 10px;
    width: 70%;
}